# Homework 5-Problem 4: Arrays and Tables

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.

In [2]:
# Don't change this cell; just run it. 

import numpy as np
import pandas as pd
import otter
import math
grader = otter.Notebook("tests")

**Important**: The `ok` tests don't always tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Once you're finished, select "Save and Checkpoint" in the File menu and then execute the `submit` cell below. The result will contain a link that you can use to check that your assignment has been submitted successfully. If you submit more than once before the deadline, we will only grade your final submission.

## 1. Studying the Survivors

The Reverend Henry Whitehead was skeptical of John Snow’s conclusion about the Broad Street pump. After the Broad Street cholera epidemic ended, Whitehead set about trying to prove Snow wrong.  (The history of the event is detailed [here](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1034367/pdf/medhist00183-0026.pdf).)

He realized that Snow had focused his analysis almost entirely on those who had died. Whitehead, therefore, investigated the drinking habits of people in the Broad Street area who had not died in the outbreak.

What is the main reason it was important to study this group?

1) If Whitehead had found that many people had drunk water from the Broad Street pump and not caught cholera, that would have been evidence against Snow's hypothesis.

2) Survivors could provide additional information about what else could have caused the cholera, potentially unearthing another cause.

3) Through considering the survivors, Whitehead could have identified a cure for cholera.

In [ ]:
# Set survivor_answer to 1, 2, or 3
survivor_answer = ...

In [ ]:
grader.check('q1_1')

**Note:** Whitehead ended up finding further proof that the Broad Street pump played the central role in spreading the disease to the people who lived near it. Eventually, he became one of Snow’s greatest defenders.

## 2. Creating Arrays

**Question 1.** Make a **numpy array** (not just a list) called `weird_numbers` containing the following numbers (in the given order):

1. -2
2. the sine of 1.2
3. 3
4. 5 to the power of the cosine of 1.2

*Hint:* `sin` and `cos` are functions in the `math` module.

In [ ]:
# Our solution involved one extra line of code before creating
# weird_numbers.
weird_numbers = ...
weird_numbers

In [ ]:
grader.check('q2_1')

**Question 2.** Make a numpy array called `book_title_words` containing the following three strings: "Eats", "Shoots", and "and Leaves".

In [ ]:
book_title_words = ...
book_title_words

In [ ]:
grader.check('q2_2')

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string

**Question 3.** Use the array `book_title_words` and the method `join` to make two strings:

1. "Eats, Shoots, and Leaves" (call this one `with_commas`)
2. "Eats Shoots and Leaves" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"foo".join(book_title_words)` . Also make sure that the words are not all run together: observe the spaces above.

In [ ]:
with_commas = ...
without_commas = ...

# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

In [ ]:
grader.check('q2_3')

## 3. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), elements are accessed by *index*, so the first element is the element at index 0.

**Question 1.** The cell below creates an pandas series of some numbers.  Set `third_element` to the third element of `some_numbers`. Use indexing not just "eyeballing it".

In [ ]:
some_numbers = pd.Series([-1, -3, -6, -10, -15])

third_element = ...
third_element

In [ ]:
grader.check('q3_1')

**Question 2.** The next cell creates a pandas DataFrame that displays some information about the elements of `some_numbers` and their order.  Run the cell to see the partially-completed table, then fill in the missing information in the cell (the strings that are currently "???") to complete the table.

In [ ]:
position = pd.Series(["first", "second", "???", "???", "fifth"])
index = pd.Series(["???", "1", "2", "???", "4"])
elements_of_some_numbers = pd.DataFrame({
    "English name for position": position,
    "Index":                     index,
    "Element":                   some_numbers})
elements_of_some_numbers.set_index('Index', inplace=True)
elements_of_some_numbers

In [ ]:
grader.check('q3_2')

**Question 3.** You'll sometimes want to find the *last* element of an array.  Suppose an array has 142 elements.  What is the index of its last element?

In [ ]:
index_of_last_element = 141

In [ ]:
grader.check('q3_3')

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the Internet.)  The function `len` takes a single argument, an array, and returns the `len`gth of that array (an integer).

**Question 4.** The cell below loads an array called `president_birth_years`.  The last element in that array is the most recent birth year of any deceased president in the dataset. Assign that year to `most_recent_birth_year`.

In [3]:
president_birth_years = pd.read_csv("https://bit.ly/engr102-president-births")
president_birth_years =  president_birth_years.iloc[:,3:4]
most_recent_birth_year = ...
most_recent_birth_year

In [ ]:
grader.check('q3_4')

## 4. Basic Array Arithmetic

**Question 1.** Multiply the numbers 42, 4224, 42422424, and -250 by 157.  For this question, **don't** use arrays.

In [ ]:
first_product = ...
second_product = ...
third_product = ...
fourth_product = ...
print(first_product, second_product, third_product, fourth_product)

In [ ]:
grader.check('q4_1')

**Question 2.** Now, do the same calculation, but using a numpy array called `numbers` containing 42, 4224, 42422424, and -250. Use only a single multiplication (`*`) operator to store the 4 results in a numpy array named `products`.

In [ ]:
numbers = ...
products = ...
products

In [ ]:
grader.check('q4_2')

**Question 3.** Oops, we made a typo!  Instead of 157, we wanted to multiply each number by 1577.  Compute the fixed products in the cell below using array arithmetic.  Notice that your job is really easy if you previously defined an array containing the 4 numbers.

In [ ]:
fixed_products = ...
fixed_products

In [ ]:
grader.check('q4_3')

**Question 4.** We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](noaa.gov), all the temperatures are in Fahrenheit.  Convert them all to Celsius by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$. Round each result to the nearest integer using the `np.round` function. Make sure that celsius_max_temperatures is a numpy array and not some other type. Fill in question marks with correct ranges or numbers.

In [ ]:
max_temperatures = pd.read_csv("https://bit.ly/engr102-temperatures")
max_temperatures = max_temperatures.iloc[??,??] # for all daily max temperature
celsius_max_temperatures = ... # conversion in this line
celsius_max_temperatures

In [ ]:
grader.check('q4_4')

**Question 5.** The cell below loads all the *lowest* temperatures from each day (in Fahrenheit).  Compute the size of the daily temperature range for each day.  That is, compute the difference between each daily maximum temperature and the corresponding daily minimum temperature.  **Give your answer in Celsius!**

In [ ]:
min_temperatures = pd.read_csv("https://bit.ly/engr102-temperatures")
min_temperatures = min_temperatures.iloc[??,??] #for daily min temperature
celsius_temperature_ranges = ... # Remember this is a range: high-low on each day
celsius_temperature_ranges

In [ ]:
grader.check('q4_5')

## 5. Old Faithful

Old Faithful is a geyser in Yellowstone that erupts every 44 to 125 minutes (according to [Wikipedia](https://en.wikipedia.org/wiki/Old_Faithful)). People are [often told that the geyser erupts every hour](http://yellowstone.net/geysers/old-faithful/), but in fact the waiting time between eruptions is more variable. Let's take a look.

**Question 1.** The first line below assigns `waiting_times` to an array of 272 consecutive waiting times between eruptions, taken from a classic 1938 dataset. Assign the names `shortest`, `longest`, and `average` so that the `print` statement is correct.

In [ ]:
old_faithful_df = pd.read_csv('https://bit.ly/engr102-old-faithful')
waiting_times = old_faithful_df.iloc[??,??].values #for 'waiting' column
# waiting_times should be a numpy array
shortest = ...
longest = ...
average = ...

print("Old Faithful erupts every", shortest, "to", longest, "minutes and every", average, "minutes on average.")

In [ ]:
grader.check('q5_1')

**Question 2.** Assign `biggest_decrease` to the biggest descrease in waiting time between two consecutive eruptions. For example, the third eruption occurred after 74 minutes and the fourth after 62 minutes, so the decrease in waiting time was 74 - 62 = 12 minutes. *Hint*: You'll need an array arithmetic function, meaning you will need to create a new numpy array which is a difference of two array that are indexed appropriately.

In [ ]:
biggest_decrease = ...
biggest_decrease

In [ ]:
grader.check('q5_2')

**Question 3.** If you expected Old Faithful to erupt every hour, you would expect to wait a total of `60 * k` minutes to see `k` eruptions. Set `difference_from_expected` to an array with 272 elements, where the element at index `i` is the absolute difference between the expected and actual total amount of waiting time to see the first `i+1` eruptions.  *Hint*: You'll need to compare a cumulative sum to a range.

For example, since the first three waiting times are 79, 54, and 74, the total waiting time for 3 eruptions is 79 + 54 + 74 = 207. The expected waiting time for 3 eruptions is 60 * 3 = 180. Therefore, `difference_from_expected[2]` should be $|207 - 180| = 27$.

In [ ]:
num_waiting_times = len(waiting_times)
difference_from_expected = np.abs(waiting_times.cumsum()-(60*np.ones(num_waiting_times).cumsum()))
difference_from_expected[:10]

In [ ]:
grader.check('q5_3')

**Question 4.** If instead you guess that each waiting time will be the same as the previous waiting time, how many minutes would your guess differ from the actual time, averaging over every wait time except the first one.

For example, since the first three waiting times are 79, 54, and 74, the average difference between your guess and the actual time for just the second and third eruption would be $\frac{|79-54|+ |54-74|}{2} = 22.5$.

In [ ]:
average_error = ...
average_error

In [ ]:
grader.check('q5_4')

## 6. DataFrames aka Tables

**Question 1.** Suppose you have 4 apples, 3 oranges, and 3 pineapples.  (Perhaps you're using Python to solve a high school Algebra problem.)  Create a table that contains this information.  It should have two columns: "fruit name" and "count".  Give it the name `fruits`.

**Note:** Use lower-case and singular words for the name of each fruit, like `"apple"`.

In [ ]:
# Our solution builds a dataframe as a dictionary of lists
fruits = pd.DataFrame( {
    ...
})
fruits

In [ ]:
grader.check('q6_1')

**Question 2.** The file `inventory.csv` (`https://bit.ly/engr102-inventory`) contains information about the inventory at a fruit stand.  Each row represents the contents of one box of fruit.  Load it as a DataFrame named `inventory`. Make sure it is sorted by "box ID" (you may want to use the inplace=True switch to change the data frame `inventory`. Also you should set the index using `inventory.set_index` to be the `'box ID'` column. Again don't forget to use `inplace=True` OR replace inventory with a copy using the `=`.

In [ ]:
inventory = ...
inventory... # Sort by box ID
inventory... # Set the index to BE box ID
inventory

In [ ]:
grader.check('q6_2')

**Question 3.** Does each box at the fruit stand contain a different fruit? Again, don't just eyeball it. Set it with code.

In [ ]:
# Set all_different to "Yes" if each box contains a different fruit or to "No" if multiple boxes contain the same fruit
all_different = ...
all_different

In [ ]:
grader.check('q6_3')

**Question 4.** The file `sales.csv` (`https://bit.ly/engr102-sales`) contains the number of fruit sold from each box last Saturday.  It has an extra column called "price per fruit (\$)" that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `inventory` table.  Load these data into a table called `sales`. Again, don't forget to set the index to be the `box ID` column.

In [ ]:
sales = ... #load from file
sales ... #set the index to ber box ID
sales

In [ ]:
grader.check('q6_4')

**Question 5.** How many fruits did the store sell in total on that day?

In [ ]:
total_fruits_sold = ...
total_fruits_sold

In [ ]:
grader.check('q6_5')

**Question 6.** What was the store's total revenue (the total price of all fruits sold) on that day?

*Hint:* If you're stuck, think first about how you would compute the total revenue from just the grape sales.

In [ ]:
total_revenue = ...
total_revenue

In [ ]:
grader.check('q6_6')

**Question 7.** Make a new table called `remaining_inventory`.  It should have the same rows and columns as `inventory`, except that the amount of fruit sold from each box should be subtracted from that box's count, so that the "count" is the amount of fruit remaining after Saturday. Careful here, not to accidentally change the inventory variable. Also make sure that the indices are in order. Finally as a "sanity check" when you print the table, make sure all the counts are positive. You didn't sell more of a fruit than you had to cell. If you see negative numbers you did something wrong.

In [ ]:
remaining_inventory = ... # one way is to make a COPY of inventory but be careful because if you
                          # just create a new name rather than a new dataframe you will overwrite inventory and
                          # get wrong answers
remaining_inventory['count'] = ...
remaining_inventory

In [ ]:
grader.check('q6_7')